---
import H2 from "../layout/icons/H2.astro";
import Mariadb from "../layout/icons/Mariadb.astro";
import Mongodb from "../layout/icons/Mongodb.astro";
import Mysql from "../layout/icons/Mysql.astro";
import Postgresql from "../layout/icons/Postgresql.astro";
import Redis from "../layout/icons/Redis.astro";
import Sqlite from "../layout/icons/Sqlite.astro";
import SqlServer from "../layout/icons/SqlServer.astro";
---

<section class="w-screen flex flex-col justify-center items-center gap-14">
  <h2 class="font-bold text-white text-3xl uppercase">Soporte</h2>
  <div class="w-full grid grid-cols-2 place-content-center place-items-center sm:flex justify-center items-center gap-x-3 gap-y-10 sm:gap-10">
    <Mariadb/>
    <Mongodb/>
    <Mysql/>
    <Postgresql/>
    <Redis/>
    <Sqlite/>
    <SqlServer/>
    <H2/>
  </div>
</section>