---
const { title } = Astro.props as { title: string };
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/DBHub_library/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
    
		<!-- Estilos locales -->
		<link rel="stylesheet" href="/DBHub_library/style/base.css" />

		<!-- Flowbite CSS -->
		<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />

		<title>{title}</title>
	</head>
	<body class="w-full h-full bg-gradient-to-b from-slate-900 via-slate-900 to-green-400 overflow-x-hidden">
		<slot />

		<!-- Flowbite JS -->
		<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js" defer></script>
	</body>
</html>
